:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation:    #d9d6cc; /* USED FOR BODY BACKGROUND */
    --swatch-primary:       #40454e; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement:    #353a44; /* USED IN CONTRAST BACKGROUND FOR TOOLBARS */
    --swatch-contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent:        #ffc819#ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --swatch-text:          #e9edf0; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */ 
    --swatch-text-accent:   #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --font-primary:         'Lexend Exa', sans-serif;
}

#grid-container {
    background-color: var(--swatch-foundation);
    font-family: var(--font-primary);
}

.grid-item {
    background-color: var(--swatch-primary);
}

#navbar {
    box-shadow: 2px 2px 2px var(--swatch-primary); 
}

#left-sidebar {
    background-color: var(--swatch-complement);
    color: rgb(233,237,240);
}

#workspace {
    background-color: var(--swatch-primary);
    color: rgb(233,237,240);
}

#title-div {
    color: rgb(255,200,25);
    font-weight: bold;
    font-size: 14pt;
}

#left-sidebar-header {
    border-bottom: dotted;
    font-family : Consolas;
}

#todo-list-table-header {
    border-bottom: dotted;
}

.list-header-card {
    border-bottom: dotted;
}

.list-item-card {
    border-bottom: solid;
}

.todo_button {
    cursor:pointer;
    background-color: var(--swatch-complement);
}

.todo_button:hover {
    background-color: var(--swatch-contrast);
}

.modal-header header{
    margin: 4%;
    display : flex;
    flex-direction: row;
    height : 1%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
#modal-overlay{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

#modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 35%;
    top: 25%;
    width: 30%;
    animation: appear_in .3s ease;
    color: #e9edf0;
    background-color: rgb(64, 69, 78);
    border-radius: 3px;
}
.header{
    border-bottom: 2px dotted;
    color: #e9edf0;
}
.modal-header{
    margin: 4%;
    display: flex;
    flex-direction: row;
    height: 1%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.modal-button{
    margin-bottom: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 20%;
    padding: 2%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    background-color: transparent;
    font-family: 'Consolas';
    border: none;
    transition: 0.1s ease-in-out;
    color: lightgray;
    text-align: center;
    font-size: 12pt;
}

.modal-button:hover{
    background-color: #e9edf0;
    color: black;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 
  input[type="none"]
{   
    font-family : Consolas;
    font-weight: bold;
    font-size:19px;
    color: #e9edf0;
}