#grid-container {
    position:absolute;
    width:100%;
    height:100%;
    display: grid;
    padding: 1px;
    grid-template-rows: 5% 95%;
    grid-template-columns: 12% 88%;
}

#navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    margin-bottom: 0.3%;
}

#left-sidebar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#left-sidebar-header {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: var(--swatch-complement);
}

#left-sidebar-header-text {
    
}

#left-sidebar-controls {
    text-align: right;
}

#workspace {
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
}

#todo-list-items-div{
    height: 60%;
    display: flex;
    flex-direction: column;
}

.list-item-card {
    height: 10%;
    display: flex;
    flex-direction: row;
}

.task-col {
    width:25%;
    font-family : Consolas;
    font-weight: bold;
    font-size:19px;
}

.task-col:hover {
    background-color: var(--swatch-contrast);
}

.due-date-col {
    color: var(--swatch-text);
    background-color: var(--swatch-primary);
    width:25%;
    font-family : Consolas;
    font-weight: bold;
    font-size:19px;
}

.due-date-col:hover{
    background-color: var(--swatch-contrast);
}

.status-col {
    color: var(--swatch-text);
    background-color: var(--swatch-primary);
    width:25%;
    font-family : Consolas;
    font-weight: bold;
    font-size:19px;
}

.status-col:hover{
    background-color: var(--swatch-contrast);
}

.list-controls-col {
    width:25%;
    display: flex;
    flex-direction: row;
}

.list-item-control {
    width: 20%;
}
.list-item-control:hover{
    background : var(--swatch-contrast);

}

.todo-lists-list{
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    color: var(--swatch-complement);
}

.todolist{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    width: 86%;
    height: 100px;
    text-align: center;
    background-color : var(--swatch-complement)
}

.todolist:hover{
    background-color: #8b8e91;
}
.undo-button{
    color:white;
}
.redo-button{
    color:white;
}

#todo-list-header-card{
    border-bottom: dotted;
    height: 5.4%;
}
#task-col-header{
}
.left-sidebar-header-text{
    margin-top:20%;
}
.left-sidebar-header{
    font-family : Consolas;
    font-weight: bold;
    font-size:19px;
}