#grid-container {
    position:absolute;
    width:100%;
    height:100%;
    display: grid;
    padding: 1px;
    grid-template-rows: 5% 95%;
    grid-template-columns: 12% 88%;
}

#navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

#left-sidebar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    color: #40454e;
}

#left-sidebar-header {
    display: grid;
    grid-template-columns: 60% 40%;
}

#left-sidebar-header-text {
    
}

#left-sidebar-controls {
    text-align: right;
}

#workspace {
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
}

#todo-list-items-div{
    height: 60%;
    display: flex;
    flex-direction: column;
}

.list-item-card {
    height: 5%;
    display: flex;
    flex-direction: row;
}

.task-col {
    width:25%;
}

.due-date-col {
    color: var(--swatch-text);
    background-color: var(--swatch-primary);
    width:25%;
}

.status-col {
    color: var(--swatch-text);
    background-color: var(--swatch-primary);
    width:25%
}

.list-controls-col {
    width:25%;
    display: flex;
    flex-direction: row;
}

.list-item-control {
    width: 20%;
}

.todo-lists-list{
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
    flex-direction: column;
    margin: 0;
}

.todolist{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    width: 86%;
    height: 100px;
    text-align: center;
    background-color : rgb(87,93,105);
    color : white;
}
.todolist:hover{
    background-color: #8b8e91;
}